<br>
<h1>Edit members: <%- committee.committeeName%></h1>
<form action="/committees/<%=committee.committeeSlug %>/edit?_method=PUT" method="post">
    <%  let notShowForMembers = ["committeeId","userId","committeeSlug", "startDate","endDate"]
        for (let member of committeeMembers) {
                if(member.userId){
                %>
                <%=member.firstName%>
                <%=member.slugURL%>
                <br>
                <fieldset>
                    <label for= "memberRole" > Member role </label>
                    <input type="text" name= "memberRole" id= "memberRole" value = <%= member.memberRole%>>
                </fieldset>
                <fieldset>
                    <label for= "startDate" > Start data </label>
                    <input type="date" name= "startDate" id= "startDate" value = <%= member.startDate%>>
                </fieldset>
                <fieldset>
                    <label for= "endDate" > End date </label>
                    <input type="date" name= "endDate" id= "endDate" value = <%= member.startDate%>>
                </fieldset>
    <% } } %> 
    <button type="submit">Change</button>
</form>
<!--Search option would be nice-->
<form action="/committees/<%=committee.committeeSlug %>/edit" method="post">
    <label for="slugURL">Userslug</label>
    <input type="slugURL" name="slugURL" id="slugURL">
    <button type="submit">Add user to this committee</button>    
</form>

<br>
