<br>
<h1>Committee overview</h1>
<table>
    <tr>
        <th>Column</th>
        <th>Value</th>
    </tr>
    <% 
    let notShow = ["committeeId","userId"]
    for (let prop in committee) {
        if(!notShow.includes(String(prop))){
        %>
        <tr>
            <td><%= prop %></td>
            <td><%= committee[prop] %></td>
        </tr>
    <% } } %> 
</table>
<a href="/committees/<%= committee.committeeSlug %>/edit">edit committee</a>
<br>
<h1>Members</h1>
<table>
    <tr>
        <th>Column</th>
        <th>Value</th>
    </tr>
    <% 
    let notShowForMembers = ["committeeId","userId"]
    for (let member of committeeMembers) {
        if(member.userId){
        %>
        <br>
        <% if(member.middleName){%>
                <%= member.firstName + ' '+  member.middleName +' '+  member.lastName +'\t'%> <a href="<%= member.slugURL%>"> <%= member.slugURL%></a> <br>
        <%} else {%> 
                <%= member.firstName + ' '+  member.lastName +'\t'%> <a href="/users/<%= member.slugURL%>"> <%= member.slugURL%></a><br>
        <%}%>

    <% } } %> 
</table>

<a href="/committees/<%= committee.committeeSlug %>/members/edit">edit members</a>
<br>
