
<br>
<h1>Edit members: <%- committee.committeeName%></h1>
<%  let notShowForMembers = ["committeeId","userId","committeeSlug", "startDate","endDate"]
for (let member of committeeMembers) {
        if(member.userId){
        %>
<form action="/committees/<%=committee.committeeSlug %>/members/edit?_method=PUT" method="post">
                <%=member.firstName%>
                 <a href= "/users/<%=member.userSlug%>/"><%=member.userSlug%></a>
                <br>
                <fieldset>
                    <label for= "memberRole" > Member role </label>
                    <input type="text" name= "memberRole" id= "memberRole" value = <%= member.memberRole%>>
                </fieldset>
                <fieldset>
                    <label for= "startDate" > Start data </label>
                    <input type="date" name= "startDate" id= "startDate" value = <%= member.startDate%>>
                </fieldset>
                <fieldset>
                    <label for= "endDate" > End date </label>
                    <input type="date" name= "endDate" id= "endDate" value = <%= member.startDate%>>
                </fieldset>
    <button type="submit">Change</button>
</form>
<% if(checkAuth(user.websiteRole, role.ADMIN)) {%>
<form action= "/committees/<%=committee.committeeSlug%>/members/edit?user=<%=member.userId%>&_method=DELETE" method="post">
    <button type="submit">Delete</button>
</form>
<%}%>
<% } } %> 

<%#Search option would be nice#%>
<form action="/committees/<%=committee.committeeSlug %>/members/edit" method="post">
    <label for="userSlug">Userslug</label>
    <input type="userSlug" name="userSlug" id="userSlug" onkeyup="sendData(this)">
    <button type="submit">Add user to this committee</button>    
</form>
<section id="searchResults"></section>
<ul id="ulSearchResults" onclick="getUserInLi(event)"></ul>
<script type="text/javascript" src="/js/searchUserSlug.js"></script>
<br>
