<br>
<h1>Edit user: <%- user.firstName%></h1>
<form action="/users/<%=user.userURL%>/edit?_method=PUT" method="post">
    <%- include("./_user-edit-form.ejs")%>
    <% if(changeWebsiteRole){%>
        <fieldset>
            <label for= "websiteRole" > Website role </label>
            <input type="text" name= "websiteRole" id= "websiteRole" value = "<%= user.websiteRole%>">
        </fieldset>
    <%}%>
    <button type="submit">Change</button>
</form>
<% if(canDelete) {%>
    <form action="/users/<%=user.userURL %>/edit?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
<%}%>
<br>
