<br>
<h1>User overview</h1>
<table>
    <tr>
        <th>Column</th>
        <th>Value</th>
    </tr>
    <% 
    let notShow = ["password","userId","createdAt", "websiteRole"]
    for (let prop in reqUser) {
        if(!notShow.includes(String(prop))){
        %>
        <tr>
            <td><%= prop %></td>
            <td><%= reqUser[prop] %></td>
        </tr>
    <% } } %> 
</table>
<br>
<%if (checkAuth(currentUser, reqUser.userSlug)) {%>
<a href="/users/<%= reqUser.userSlug%>/edit">edit</a>
<br>
<%}%>
<h1>Committees</h1>
<table>
    <tr>
        <th>Committee name</th>
        <th>Committee url</th>
        <th>Role</th>
        <th>Member since</th>
        <th>End Date</th>
    </tr>
    <% 
    let notShowForMembers = ["committeeId","userId"]
    for (let member of committees) {
        %>
        <tr>
            <td><%= member.committeeName +'\t'%> </td>
            <td><a href="/committees/<%= member.committeeSlug%>/"><%=  member.committeeSlug%></a></td>
            <td><%= member.memberRole%></td>
            <td><%= member.startDate.toDateString()%></td>
            <%if(member.endDate){%>
            <td><%= member.endDate.toDateString()%></td>
        <%}%>    
        </tr>
    <% }%> 
</table>
<br>
