<br>
<h1>Edit user: <%- user.firstName%></h1>
<form action="/users/<%=user.slugURL %>/edit?_method=PUT" method="post">
    <% let notShow = ["id","createdAt","slugURL", "birthday", "email","password"]
        for (let prop in user) {
            if(!notShow.includes(String(prop))){ %>
        <fieldset>
            <label for= <%= prop %> > 
                <%
                var rowName = prop.replace(/([A-Z])/g, " $1");
                var finalRowName = rowName.charAt(0).toLowerCase() + rowName.slice(1)
                %>
                <%= finalRowName%>
            </label>
            <input type="text" name= <%= prop %> id= <%= prop %> value= <%=user[prop] %>>
        </fieldset>
    <% } } %> 

    <fieldset>
            <label for= "birthday" > Birthday </label>
            <input type="date" name= "birthday" id= "birthday" value = <%= user.birthday%>>
    </fieldset>
    
    <fieldset>
            <label for= "email" > Email </label>
            <input type="email" name= "email" id= "email" value = <%- user.email%>>
    </fieldset>
    <fieldset>
            <label for= "password" > Password</label>
            <input type="password" name= "password" id= "password">
    </fieldset>
    <button type="submit">Change</button>
</form>
<% if(checkAuth(user.websiteRole, role.ADMIN)) {%>
<form action="/users/<%=user.slugURL %>/edit?_method=DELETE" method="post">
    <button type="submit">Delete</button>
    </form>
<%}%>
<br>
