<br>
<h1>User overview</h1>
<table>
    <tr>
        <th>Column</th>
        <th>Value</th>
    </tr>
    <% 
    let notShow = ["password","userId","createdAt", "websiteRole","numberOfLogins","lastLogin","profileViews"]
    for (let prop in user) {
        if(!notShow.includes(String(prop))){
        %>
        <tr>
            <td><%= prop %></td>
            <td><%= user[prop] %></td>
        </tr>
    <% } } %> 
</table>
<br>
<h1>Lichting</h1>
<a href="/committees/<%=batch[0].committeeSlug%>/"><h2><%=batch[0].committeeName%></h2></a>
<table>
    <tr>
        <th>Name</th>
        <th>User url</th>
        <th>Member since</th>
    </tr>
    <% 
    for (let member of batch) {
        %>
        <tr>
            <% if(user.middleName){%>
                <td><%= user.firstName + ' '+  user.middleName +' '+  user.lastName %></td>
            <%} else {%> 
                <td><%= user.firstName + ' '+  user.lastName %></td>
            <%}%>
            <td><a href="/committees/<%= member.userSlug%>/"><%=  member.userSlug%></a></td>
            <td><%= member.startDate.toLocaleDateString()%></td>   
        </tr>
    <% }%> 
</table>
<br>
<h1>Committees</h1>
<table>
    <tr>
        <th>Committee name</th>
        <th>Committee url</th>
        <th>Role</th>
        <th>Member since</th>
        <th>End Date</th>
    </tr>
    <% 
    let notShowForMembers = ["committeeId","userId"]
    for (let member of committees) {
        %>
        <tr>
            <td><%= member.committeeName +'\t'%> </td>
            <td><a href="/committees/<%= member.committeeSlug%>/"><%=  member.committeeSlug%></a></td>
            <td><%= member.memberRole%></td>
            <td><%= member.startDate.toDateString()%></td>
            <%if(member.endDate){%>
            <td><%= member.endDate.toDateString()%></td>
        <%}%>    
        </tr>
    <% }%> 
</table>
<br>
