<br>
<h1>Register</h1>
<form action="/users/<%=user.slugURL %>?_method=PUT" method="post">
    <fieldset>
        <label for="firstName">First name</label>
        <input type="text" name="firstName" id="firstName" value= <%=user.firstName %>>
    </fieldset>
    <fieldset>
        <label for="middleName">Middle name</label>
        <input type="text" name="middleName" id="middleName" value = <%= user.middleName %>>
    </fieldset>
    <fieldset>
        <label for="lastName">Last name</label>
        <input type="text" name="lastName" id="lastName" value=<%= user.lastName %>>
    </fieldset>
    <fieldset>
        <label for="birthday">Birthday</label>
        <input type="date" name="birthday" id="birthday"value=<%= user.birthday %>>
    </fieldset>
    <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required value=<%= user.email %>>
    </fieldset>
    <fieldset>
        <label for="websoteRole">Role</label>
        <input type="text" name="websiteRole" id="websiteRole" value=<%= user.websiteRole %>>
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </fieldset>
    <button type="submit">Change</button>
</form>
<a href="/ls/login">Login</a>
<br>
